:root {
  --ion-color-primary: #ffffff;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #1f0f0f;

  --ion-background-color: #fffafa;
  --ion-text-color: #ffffff;

  --ion-border-radius: 16px;
}